{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block logo %}
<a class="no-style">{% trans 'Login' %}</a>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form style="text-align: unset;" method="post" action="{% url 'login' %}">
    <fieldset>
        <legend>Login</legend>
    {% csrf_token %}
    <div class="form-group">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
</div>

<!-- <input type="submit" value="login"> -->
<button class="btn btn-default" type="submit" value="login">Login</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}