{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block logo %}
<a class="no-style">{% trans 'Home' %}</a>
{% endblock %}

{% block content %}

<div class="container">
    <fieldset>
        <legend>Navigation</legend>
        <div class="form-group">
            <a class="btn btn-lg btn-primary btn-block btn-ghost" href="/library">Library</a>
        </div>
        <div class="form-group">
            <a class="btn btn-lg btn-primary btn-block btn-ghost" href="/accounts/profile">Profile</a>
        </div>          
        <div class="form-group">
            <a class="btn btn-lg btn-primary btn-block btn-ghost" href="/admin">Admin Area</a>
        </div>            
    </fieldset>
</div>





{% endblock %}

{% block js %}
{% endblock %}