{% load static %}
{% load i18n %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LogBook</title>
  <meta name="description" content="LogBook">
  <meta name="author" content="Lukas Scheffler">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <!-- <link rel="stylesheet" href="{% static "css/base.css" %}" /> -->
  <link rel="stylesheet" href="{% static "css/terminal.css" %}" />
  {% block css %}
  {% endblock %}

</head>

<body class="terminal">
    
    <div class="container" style="position: -webkit-sticky; position: sticky; top:0; background-color: white; z-index: 99999;">
        <div class="terminal-nav">
            <header class="terminal-logo">
            <div class="logo terminal-prompt">
                {% block logo %}
                {% endblock %}
            </div>
            </header>
            <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li id="nav-link"><meta property="position"></li>
                <li style="height: 28px;"><span></span></li>
            </ul>
            </nav>
        </div>
        <!-- {% block title %}
        {% endblock %} -->
    </div>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </fiv>
        <div class="container" style="position: -webkit-sticky; position: sticky; bottom:0; z-index: 99999; background-color: white; text-align: center;">
            {% block footer %}
            {% endblock %}
            {% if user.is_authenticated %}
            <p class="footer">Logged in as {{ user.username }}. <a href="/accounts/logout">Logout.</a></p>
            {% else %}
            <p class="footer">Not logged in. <a href="/accounts/login">Login.</a></p>
            {% endif %}
        </div>
    </div>
</body>
<script src="{% static "js/base.js" %}"></script>
    {% block js %}
    {% endblock %}
</html>