{% load static %}
{% load i18n %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LogBook</title>
  <meta name="description" content="LogBook">
  <meta name="author" content="Lukas Scheffler">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{% static "css/terminal.css" %}" />
  {% if user.profile.darkmode %}
  <link rel="stylesheet" href="{% static "css/dark.css" %}" />
  {% endif %}
  <link rel="stylesheet" href="{% static "css/base.css" %}" />
  {% block css %}
  {% endblock %}

</head>

<body class="terminal">
    
    <div class="container top-bar">
        <div class="terminal-nav">
            <header class="terminal-logo">
            <div class="logo terminal-prompt">
                {% block logo %}
                {% endblock %}
            </div>
            </header>
            <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li id="nav-link"><meta property="position"></li>
                <li style="height: 28px;"><span></span></li>
            </ul>
            </nav>
        </div>
        <!-- {% block title %}
        {% endblock %} -->
    </div>

    
        
        <div class="container">
            <hr>
            {% block content %}
            {% endblock %}
            
        </div>
        <div class="container bottom-bar">
            <hr>
            {% block footer %}
            {% endblock %}
            {% if user.is_authenticated %}
            <p class="footer">Logged in as <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>. <a href="/accounts/logout">Logout.</a></p>
            {% else %}
            <p class="footer">Not logged in. <a href="{% url 'accounts:login' %}">Login.</a></p>
            {% endif %}
        </div>
    </div>
</body>
<script src="{% static "js/base.js" %}"></script>
    {% block js %}
    {% endblock %}
</html>