{% load static %}
{% load i18n %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LogBook</title>
  <meta name="description" content="LogBook">
  <meta name="author" content="Lukas Scheffler">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{% static "css/base.css" %}" />
  <link rel="stylesheet" href="{% static "css/terminal.css" %}" />
  {% block css %}
  {% endblock %}

</head>

<body>
    <div class="container">
        <header>
            {% block title %}
            {% endblock %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
            {% if user.is_authenticated %}
            <p class="footer">Logged in as {{ user.username }}. <a href="/accounts/logout">Logout.</a></p>
            {% else %}
            <p class="footer">Not logged in. <a href="/accounts/login">Login.</a></p>
            {% endif %}
        </footer>
    </div>
</body>
    {% block js %}
    {% endblock %}
</html>